#corpo{
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url(../../img/pexels-gül-işık-4102712.jpg);
    background-size: cover;
    margin-top: 1vh;
    padding: 5vh;
    min-height: 100vh
  }
  .mainForm{
    color: rgb(236, 236, 236);
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.268);
    border: 1px solid black;
    margin: 0% 25% 2% 25%;
  }
  .botao{
    text-align: center;
  }
  
  .colorWhite{
    color: rgb(236, 236, 236);
  }