.BarraPesquisar{
    margin: 1rem 0rem 1rem 0rem;
}


.TituloTabela{
    font-family: 'Mochiy Pop P one', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url(../../img/icone.jpg);
    background-size: cover;
    padding: 5vh;
    color: white;
}

.fontLetra{
    font-family: 'Nunito', sans-serif;
    
}

.corpoTabela{
    color: black;
    box-shadow: 1px -1px 27px 9px rgba(51, 51, 51, 1);
    -webkit-box-shadow: 1px -1px 27px 9px rgba(51, 51, 51, 1);
    -moz-box-shadow: 1px -1px 27px 9px rgba(51, 51, 51, 1);
    height: 100vh;
}

.PessoaEscp{
    padding: 1rem;
}
.BotaoPesquisar{
    margin-left: 0.4rem;
}

 .BotaoConfirmar{
    margin-right: 55vh;
    margin-bottom: 0.5vh;
 }