.filho{ 
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url(../../img/pexels-gül-işık-4102712.jpg);
    background-size: cover;
    text-align: center;
    margin: -1vh;
    min-height: 100vh;
    padding-left: 20rem;
}